*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: auto;
}

#page{
    max-width: 100vw;
    display: flex;
}

header{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    background-color: #28282B;
    box-shadow: 5px 5px 10px black;
    font-size: 2em;
}

.dashButton{
    width: 40px; 
    height: 40px; 
    margin: 0px 10px;
    background-color: #28282B; 
    color: white;
    border: none;
    cursor: pointer;
}

.dashButton:hover{
    background-color: white;
    color: black;
}

/* css for filter tasks */
#filter-element{
    position: absolute;
    right: 15px;
}

#filter-input{
    font-size: 15px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

#filter-button{
    font-size: 15px;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(13, 183, 235);
    color: white;
    border: none;
}

#filter-button:hover{
    border-radius: 10px;
    cursor: pointer;
}

#remove-filter{
    font-size: 15px;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(224, 12, 12);
    color: white;
    border: none;
}

#remove-filter:hover{
    border-radius: 10px;
    cursor: pointer;
}

/* CSS FOR ADD TASK SECTION */
#addTaskContainer{
    flex-direction: column;
    width: 27%;
    min-width: 320px;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 1px 3px;
}

#addTaskContainer-heading{
    margin: 35px 15px 0px 15px;
    font-size: 1.5em;
}

input,select{
    margin: 2px 15px 0px 15px;
    padding: 10px;
    font-size: 1em;
    border-radius: 2px;
    border: 2px solid #cccc;
}

input:hover{
    border: 2px solid rgb(30, 30, 30);
}

select:hover{
    border: 2px solid rgb(30, 30, 30);
}

#addTaskButton, .editBtn{
    margin: 20px 15px 0px 15px;
    padding: 12px;
    font-size: 1em;
    border-radius: 20px;
    background-color: rgb(224, 12, 12);
    border: none;
    color: white;
    font-weight: bold;
}

#addTaskButton:hover{
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    transform: scale(0.98);
}

.editBtn:hover{
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    transform: scale(0.98);
}

#addTaskButton:active{
    transform: scale(0.95);
}

label{
    color: black;
    margin: 18px 15px 2px 15px;
    font-size: 1.1em;
    font-weight: bold;
}

.error{
    /*display: none;*/
    color: rgb(255, 0, 0);
    margin-left: 18px;
    margin-top: 3px;
    font-size: 0.9em;
}

/* CSS FOR TITLE OF APP */
#tableContainer{
    width: 100%;
    /* min-width: 800px; */
    height: 100vh;
    background-color: #f6f5f5cc;
    overflow: auto;
}

#header {
    padding: 18px;
    background-color:white;
    /* background-color: #28282B;
    box-shadow: 2px 2px 4px black;
    color: white;  */
}

/* CSS FOR SHOW TABLE SECTION */
#taskTable{
    width: 95%;
    margin: 20px 20px 100px 20px;
    background-color: white;
    box-shadow: 1px 1px 3px;
    border-collapse: collapse;
    border-radius: 5px;
}



th{
    font-size: 1.05em;
    background-color: #28282B;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 2px black;
    border-left: 4px solid #28282B;
}

td{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr:nth-child(even){
    background-color: #efefefcc;
}

tr:hover{
    box-shadow: 1px 1px 4px black;
    border-left: 4px solid #28282B;

}

@media only screen and (max-width: 415px) 
{
    th{
        font-size: 0.8em;
    }

    tr{
        font-size: 0.7em;
    }

    #taskTable{
        margin: 5px;
    }

    #filter-element{
        position: fixed;
        bottom: 10px;
    }

    #filter-input,#filter-button{
        margin: 0px;
    }

    header{
        font-size: 30px;
    }

    #addTaskContainer{
        position: fixed;
    }
}